POSTGRES_DB=lattice
POSTGRES_USER=lattice
POSTGRES_PASSWORD=lattice
POSTGRES_PORT=6632

LATTICE_SERVICE_PORT=8500
LATTICE_UI_PORT=4000
LATTICE_MCP_SERVICE_URL=http://127.0.0.1:8500

LATTICE_SERVICE_DATABASE_URL=postgresql+asyncpg://lattice:lattice@127.0.0.1:6632/lattice
LATTICE_MIGRATION_DATABASE_URL=postgresql+psycopg://lattice:lattice@127.0.0.1:6632/lattice